[2020-10-04 13:03] ankitapuri opened #1 "Add linear Search"

[2020-10-04 13:08] Nikzy7 commented on #1
Hey @ankitapuri .. Can you please specify the language?

[2020-10-04 13:10] ankitapuri opened #2 "Always get the issue assigned to you before working on it"

[2020-10-04 13:11] ankitapuri opened #3 "Add binary search"

[2020-10-04 13:17] sifat009 commented on #1
I'm interested to work on this issue.

[2020-10-04 13:17] IMPrimph commented on #3
@ankitapuri
I would like to do that

[2020-10-04 13:17] sifat009 commented on #3
I'm interested to work on this issue.

[2020-10-04 13:20] hridyakrishna commented on #1
Can I work on this?

[2020-10-04 13:21] Mayankjha997 commented on #3
i would like to do in c language

[2020-10-04 13:22] NidhiNivedita6 commented on #3
Please assign me this. I want to do this in C++

[2020-10-04 13:24] ankitapuri opened #4 "Add Bubble Sort"

[2020-10-04 13:25] ankitapuri opened #5 "Add Quick sort"

[2020-10-04 13:26] sethivansh6 commented on #4
I can do it!

[2020-10-04 13:26] ankitapuri opened #7 "Add Insertion Sort"

[2020-10-04 13:27] saiharsha-22 commented on #3
@ankitapuri I would like to work on this issue, I will do in Java programming and I will add traversal also ca you assign this issue to me

[2020-10-04 13:27] sethivansh6 commented on #3
I can code it in C++, JAVA and JS. Please assign it to me!

[2020-10-04 13:27] NidhiNivedita6 commented on #5
Can I do this in C?

[2020-10-04 13:28] saiharsha-22 commented on #5
@ankitapuri I would like to do in c++

[2020-10-04 13:29] sethivansh6 commented on #7
@ankitapuri I can work on this issue as well others and that too in C++, JAVA, and JS. Assign it to me!

[2020-10-04 13:29] saiharsha-22 commented on #7
@ankitapuri I would like to do in c++

[2020-10-04 13:32] ankitapuri commented on #1
Make a folder regarding it and then add code in these following along with README
Python
C++
C
Java
JavaScript
README.md file with explanation of the algorithm
P.S if a folder exists then add into it

[2020-10-04 13:32] ankitapuri commented on #1
In which language you will work @hridyakrishna @sifat009

[2020-10-04 13:33] ankitapuri commented on #3
Make a folder regarding it and then add code in these following along with README
Python
C++
C
Java
JavaScript
README.md file with explanation of the algorithm
P.S if a folder exists then add into it

[2020-10-04 13:34] hridyakrishna commented on #1
I have given a pull request by creating a directory named Linear_search and added C programming code into it

[2020-10-04 13:34] ankitapuri commented on #3
please select the language @sifat009 @sethivansh6 @NidhiNivedita6 @Mayankjha997

[2020-10-04 13:34] ankitapuri commented on #7
Make a folder regarding it and then add code in these following along with README
Python
C++
C
Java
JavaScript
README.md file with explanation of the algorithm

[2020-10-04 13:35] ankitapuri commented on #7
@saiharsha-22 please do it in C++ and @sethivansh6 do it in JAVA, and JS

[2020-10-04 13:37] sethivansh6 commented on #3
@ankitapuri I will do it in JAVA.

[2020-10-04 13:40] ankitapuri commented on #3
Ok make a folder and send the PR

[2020-10-04 13:40] Mayankjha997 commented on #3
@ankitapuri  is c language acceptable

[2020-10-04 13:40] tarishij17 commented on #1
I'll pick Java

[2020-10-04 13:41] saiharsha-22 commented on #4
@ankitapuri I will do in c++

[2020-10-04 13:43] ankitapuri commented on #5
Make a folder regarding it and then add code in these following along with README
Python
C++
C
Java
JavaScript
README.md file with explanation of the algorithm
P.S if a folder exists then add into it

[2020-10-04 13:44] ankitapuri commented on #4
Make a folder regarding it and then add code in these following along with README
Python
C++
C
Java
JavaScript
README.md file with explanation of the algorithm
P.S if a folder exists then add into it

[2020-10-04 13:46] ankitapuri commented on #3
okay

[2020-10-04 13:46] NidhiNivedita6 commented on #3
I will do it in C++

[2020-10-04 13:46] ankitapuri commented on #3
okay

[2020-10-04 13:47] Mayankjha997 commented on #3
I will do it in C language
please assign me

[2020-10-04 13:51] NidhiNivedita6 commented on #3
I will do it in C++. Please assign me.

[2020-10-04 13:55] krabhisharma commented on #5
I will do it for java @ankitapuri

[2020-10-04 13:58] tarishij17 commented on #1
https://github.com/ankitapuri/DSA-guide/pull/8

[2020-10-04 14:04] sethivansh6 commented on #3
@ankitapuri isn't your repo registered for hacktoberfest?

[2020-10-04 14:08] tahmid02016 commented on #7
I can do it in Python

[2020-10-04 14:44] ADARSHULTIMATE commented on #7
@tahmid02016 please do it python

[2020-10-04 15:03] theAkashDas commented on #4
Hello @ankitapuri can I implement this using C?

[2020-10-04 15:28] ankitapuri commented on #7
yes

[2020-10-04 15:47] ankitapuri commented on #3
it is! please check the topics

[2020-10-04 15:48] ankitapuri commented on #3
ok @NidhiNivedita6

[2020-10-04 15:50] ankitapuri commented on #3
@NidhiNivedita6 its already done in cpp
you can choose from remaining

[2020-10-04 15:51] ankitapuri commented on #4
yeah sure @saiharsha-22 in c++ and @theAkashDas  in C

[2020-10-04 16:06] NidhiNivedita6 commented on #3
So can I do in C?

[2020-10-04 16:17] ketanshahapure commented on #7
@ankitapuri Hey, do you want me to implement Heap sort in Java? If yes, please create a new issue for it. Thanks!

[2020-10-04 16:34] theAkashDas commented on #4
Hello @ankitapuri in hacktoberfest website it is showing ineligible repo. Can you please look into this?

[2020-10-04 16:42] ankitapuri commented on #3
@Mayankjha997 is currently doing in it

[2020-10-04 16:43] koshtaayush commented on #3
@ankitapuri I would like to do it in JS

[2020-10-04 16:49] ankitapuri commented on #3
okay

[2020-10-04 16:49] Mayankjha997 commented on #3
@ankitapuri  I did in c++ ; @NidhiNivedita6  can do it in c

[2020-10-04 16:52] ankitapuri commented on #3
@NidhiNivedita6  go ahead with C

[2020-10-04 16:53] ankitapuri commented on #7
surely I'll create one

[2020-10-04 16:54] ankitapuri opened #16 "Add heap sort"
Make a folder regarding it and then add code in these following along with README
Python
C++
C
Java
JavaScript
README.md file with explanation of the algorithm

[2020-10-04 17:07] ankitapuri commented on #4
I'll get back to you

[2020-10-04 17:19] ankitapuri commented on #4
@theAkashDas refer Readme.md once

[2020-10-04 17:28] rangolucas commented on #16
I can solve this for Python, Java and JS

[2020-10-04 17:50] sahilsinghal commented on #1
can we write in golang as well?

[2020-10-04 17:52] sahilsinghal commented on #1
can i pick it for java if not assigned to anyone else?

[2020-10-04 18:10] ankitapuri commented on #1
no please

[2020-10-04 18:10] ankitapuri commented on #1
its done

[2020-10-04 20:09] ketanshahapure commented on #16
I will implement it in Java

[2020-10-05 02:42] ankitapuri commented on #16
@ketanshahapure go head please and make a folder for it

[2020-10-05 02:43] ankitapuri commented on #16
specify any 1 language

[2020-10-05 03:15] ankitapuri opened #23 "Add merge sort"
Make a folder regarding it and then add code in these following along with README
Python
C++
C
Java
JavaScript
README.md file with explanation of the algorithm

[2020-10-05 03:16] ketanshahapure commented on #16
Working on it!

[2020-10-05 03:34] hridyakrishna commented on #3
@ankitapuri Can I work on this? (C language)

[2020-10-05 03:37] ankitapuri commented on #3
Its already done

[2020-10-05 03:38] hridyakrishna commented on #3
@ankitapuri  Is java done? Can you please assign for it?

[2020-10-05 03:41] Sahith02 commented on #23
I can do this in python and C++.

[2020-10-05 03:44] ankitapuri commented on #23
Create a folder and go ahead

[2020-10-05 03:44] Jaideep07 commented on #23
I would like to do in C and JAVA can you assign it to me.

[2020-10-05 03:46] Sahith02 commented on #23
Sure, will do!

[2020-10-05 03:58] Kartik987 commented on #23
hey @ankitapuri . I just created a PR  for merge sort as per the instructions  in readme.md. Please have a look on it and if appropriate please merge it.

[2020-10-05 04:03] rangolucas commented on #16
I'll go with Python then!

[2020-10-05 04:03] rangolucas commented on #16
I'll go with Python then!

[2020-10-05 04:06] ankitapuri commented on #23
@Kartik987 can you please make a PR just with java and readme
because the rest is done by @Sahith02

[2020-10-05 04:07] Kartik987 commented on #23
ok.

[2020-10-05 04:15] Kartik987 commented on #23
please check. I have just added with java only.

[2020-10-05 04:19] ankitapuri commented on #23
@Sahith02 just add in the folder made

[2020-10-05 04:20] hridyakrishna commented on #4
@ankitapuri  Can I work on this using java?

[2020-10-05 04:20] Sahith02 commented on #23
#25 Done I have added python right now. Will add C++ soon.

[2020-10-05 04:31] ankitapuri commented on #16
ok

[2020-10-05 05:00] sifat009 commented on #1
javascript.

[2020-10-05 05:07] ankitapuri commented on #1
Ok and if possible create a readme for it so that I can close this issue

[2020-10-05 05:41] #1 closed

[2020-10-05 05:43] ankitapuri opened #27 "Add Readme.md to linear search"
Add a readme to linear search describing it

[2020-10-05 05:46] Sahith02 commented on #23
#25 I've added merge sort in C++ as well. Please review and merge.

[2020-10-05 06:06] someshnarwade commented on #27
Can you assign this issue to me?
I'd like to work on it.

[2020-10-05 06:16] ArchanaDhaker commented on #5
I would like to do in Python.

[2020-10-05 06:17] amitShindeGit commented on #27
I have made a PR regarding the issue, kindly check it.Happy to help.

[2020-10-05 06:22] ankitapuri commented on #27
Its already done can you look into other issues . There also we require a Readme.

[2020-10-05 06:22] #27 closed

[2020-10-05 08:05] #3 closed

[2020-10-05 08:06] ankitapuri opened #30 "Add binary search in python"
Add binary search in python in the folder already made

[2020-10-05 08:08] Harsh-Udai commented on #30
@ankitapuri  i would like to do this , plz assim me this

[2020-10-05 08:10] Shreyash0713 commented on #30
@ankitapuri I would like to work on it. Please assign it to me.

[2020-10-05 08:14] ankitapuri commented on #30
ok @HarshUdai

[2020-10-05 08:14] ankitapuri commented on #30
you can refer to other issues as well.

[2020-10-05 08:32] Harsh-Udai commented on #30
@ankitapuri  hey, i have made a pr please check.

[2020-10-05 08:33] #30 closed

[2020-10-05 08:34] ankitapuri commented on #4
Only in C++ and python is left

[2020-10-05 08:41] hridyakrishna commented on #4
@ankitapuri  Okay, Shall I work on it in python?

[2020-10-05 09:17] koshtaayush commented on #23
@ankitapuri I would like to do it in JS

[2020-10-05 09:56] MaxJaycee commented on #4
@ankitapuri I can also do it in c++ and python

[2020-10-05 11:54] #4 closed

[2020-10-05 12:03] tahmid02016 opened #35 "Add Counting Sort"
Make a folder regarding it and then add code in these following along with README
Python
C++
C
Java
JavaScript
README.md file with explanation of the algorithm

[2020-10-05 12:04] tahmid02016 commented on #35
I am doing this in Python

[2020-10-05 12:43] SHARC-99 commented on #35
I am doing it on all the languages...

[2020-10-05 12:47] Mownika25 commented on #35
Hi, Can I solve it in java?

[2020-10-05 12:47] ankitapuri commented on #23
ok

[2020-10-05 12:53] Mownika25 commented on #5
Can I do it in Java?

[2020-10-05 12:53] ankitapuri commented on #35
just do it in C++, C and JS along with  a readme

[2020-10-05 12:54] ankitapuri commented on #35
just do it in C++, C and JS along with  a readme @SHARC-99

[2020-10-05 12:54] ankitapuri commented on #35
yes go ahead

[2020-10-05 12:56] ankitapuri commented on #5
yeah go ahead

[2020-10-05 12:57] ankitapuri commented on #5
its done already

[2020-10-05 13:49] hridyakrishna commented on #35
@ankitapuri  Can I do it in C?

[2020-10-05 13:51] koshtaayush commented on #5
@ankitapuri I would like to do it in JS

[2020-10-05 14:33] praneethacl commented on #7
Hi, can I do this in python?

[2020-10-05 14:33] praneethacl commented on #35
Hi, can I do this in python?

[2020-10-05 14:36] praneethacl commented on #16
Hi, can I do this in Cpp?

[2020-10-05 14:53] #35 closed

[2020-10-05 14:56] ankitapuri commented on #7
Its left only in JS

[2020-10-05 14:57] ankitapuri commented on #16
go ahead

[2020-10-05 14:57] hridyakrishna commented on #16
Can I do this in C?

[2020-10-05 15:07] adarshvulli commented on #16
@hridyakrishna, let us wait for some time! if none, you can go with it! since you already got a merged PR

[2020-10-05 15:09] hridyakrishna commented on #16
Okay sure...Thank you...

[2020-10-05 17:59] ankitapuri commented on #5
Let others be given a chance , if no-one wants to take it then you can do it @koshtaayush

[2020-10-05 18:00] koshtaayush commented on #5
@ankitapuri sure

[2020-10-05 18:01] ankitapuri commented on #23
would u like to do it in C @Jaideep07

[2020-10-05 19:11] RAMYA-CP commented on #23
Hey I would like to do it in c can i take this up?

[2020-10-06 02:04] Jaideep07 commented on #23
👍🏻 will do it

[2020-10-06 03:16] #23 closed

[2020-10-06 03:21] ankitapuri commented on #16
Any updates @rangolucas

[2020-10-06 03:26] ankitapuri commented on #5
Do you wanna do it in java @Mownika25

[2020-10-06 03:32] ankitapuri opened #51 "Add Radix sort"
Make a folder regarding it and then add code in these following along with README
Python
C++
C
Java
JavaScript
README.md file with explanation of the algorithm

[2020-10-06 04:15] tahmid02016 opened #53 "Insertion sort recursive"
I want to add insertion sort algorithm using recursive function. Should I add it in a new folder or in current insertion_sort folder.
I will code in C, C++ and Python.

[2020-10-06 04:18] ankitapuri commented on #53
We already have code for insertion sort so don't need to create the issues unnecessarily.

[2020-10-06 04:18] #53 closed

[2020-10-06 05:10] RAMYA-CP commented on #5
Hey I would like to implement it in c

[2020-10-06 05:13] RAMYA-CP commented on #51
Hey I would like to implement it in c

[2020-10-06 05:15] sifat009 commented on #51
I would like to implement it on javascript

[2020-10-06 05:16] sifat009 commented on #7
I would like to implement it on javascript

[2020-10-06 05:18] ankitapuri commented on #7
ok

[2020-10-06 05:32] myluco commented on #51
Want to do the Java one (LSD RadixSort)

[2020-10-06 05:39] myluco commented on #51
I want to fo another pull request with MSD Radix Sort. I want to put in the same file (RadixSort.java).

[2020-10-06 06:09] #7 closed

[2020-10-06 06:42] praneethacl commented on #5
I will do it in java.

[2020-10-06 06:58] tahmid02016 opened #57 "Add shell sort"
I can do this in C++ and Python.

[2020-10-06 07:52] ankitapuri commented on #57
ok

[2020-10-06 10:41] rangolucas commented on #16
I'll be done tomorrow

[2020-10-06 12:10] sifat009 commented on #57
I would love to do this in javascript.

[2020-10-06 13:08] anmol193 commented on #57
can i do this in java?

[2020-10-06 13:10] anmol193 commented on #51
can i do this in C++ ?

[2020-10-06 13:49] anmol193 commented on #57
@ankitapuri

[2020-10-06 18:35] crazyvibes commented on #51
Hi, I would like to work on javascript.

[2020-10-06 18:47] abhi2694 commented on #51
@ankitapuri I would like to take this up in python.

[2020-10-06 18:49] abhi2694 commented on #16
@ankitapuri  would like to take this up and do it in java.

[2020-10-06 19:36] abhi2694 commented on #51
@ankitapuri seems like it's already done in python. Would be glad if you could please assign me a similar issue.

[2020-10-07 02:25] #51 closed

[2020-10-07 02:26] ankitapuri commented on #16
its done in java look for other issues please

[2020-10-07 02:32] ankitapuri opened #69 "Add selection sort"
Add code in these following along with README
Python
C++
Java
JavaScript
README.md file with explanation of the algorithm

[2020-10-07 02:47] ankitapuri commented on #5
**Code in JS along with a Readme**

[2020-10-07 02:48] Aniruddha8699 commented on #69
@ankitapuri I would like to work on Selection sort in C++. Kindly assign me.
And if required I can also add the Ternary Search folder.

[2020-10-07 03:14] SaurabhVj commented on #69
I would like to write this algorithm in java. Kindly assign me this.

[2020-10-07 03:37] keivalya commented on #69
I can do it in Python. Please assign it to me.

[2020-10-07 04:52] ankitapuri opened #74 "Add programs involving recursion in the following languages"
Programs involving recursion in
C
C++
Java
Python
JS

Add them in their respective folders

[2020-10-07 05:11] vedanttttt commented on #74
I can do it , assign to me !

[2020-10-07 05:14] ankitapuri commented on #74
Just add any 1 program and that too in any 1 language

[2020-10-07 05:19] vedanttttt commented on #74
Okay

[2020-10-07 05:25] anmol193 commented on #74
can i do this using java?

[2020-10-07 05:38] SaurabhVj commented on #74
I would like to write code in c++ @ankitapuri

[2020-10-07 05:49] shubhamc1200 commented on #74
Can I write the height of the binary tree problem using recursion in java?

[2020-10-07 05:52] shubhamc1200 commented on #74
Thank you

[2020-10-07 06:11] samriddhi-arya commented on #74
Can I write 'print subsets of sum k in an array' using recursion in java?

[2020-10-07 06:18] AakritiKinra commented on #69
I would like to do this in C language. Kindly assign me.

[2020-10-07 06:42] TejasPodutwar commented on #74
Hey @ankitapuri I would like to add reverse of a string using recursion problem!!
Could you pls assign this issue to me?

[2020-10-07 06:43] ankitapuri commented on #69
It's already done in C

[2020-10-07 07:13] varad64 commented on #74
Hi @ankitapuri I'd love to do this using Java. Could you please assign it to me?

[2020-10-07 07:18] sethivansh6 commented on #69
@ankitapuri I can do this and heap sort in java...if you want....assign it to me.

[2020-10-07 07:59] shruti512 commented on #5
Can I add it in JS?

[2020-10-07 08:12] shruti512 commented on #74
Hi, I would like to add code for finding palindrome in cpp

[2020-10-07 08:29] rahulatrkm commented on #69
I can do it in python/java. Kindly assign it to me.

[2020-10-07 08:29] adityashukla11 commented on #74
I just added two programs of Recursion in Java.

[2020-10-07 08:34] ayush-agr commented on #74
Hi @ankitapuri Please review my pr for string reverse in c++ using recursion -> https://github.com/ankitapuri/DSA-guide/pull/83
Thanks

[2020-10-07 08:35] adityashukla11 commented on #74
Hello, I would like to add the following two Recursion programs in Java :
1 : Convert Decimal to Binary.
2 : Print all possible combinations of N-dice Rolls

[2020-10-07 08:57] ankitapuri commented on #74
specify the language as well

[2020-10-07 08:57] sethivansh6 commented on #74
@ankitapuri I have added many problems in recursion in java like subset, string permutation, josephus problem, checking palindrome allow me to push the code.

Thanks

[2020-10-07 09:02] ankitapuri commented on #5
@koshtaayush  Do u want to do it ???

[2020-10-07 09:06] koshtaayush commented on #5
Yeah @ankitapuri
I'll do

[2020-10-07 09:09] ankitapuri commented on #5
Do both the code and readme.

[2020-10-07 09:12] ankitapuri commented on #57
Any updates @anmol193

[2020-10-07 09:13] PrinceKhatick commented on #74
I want to work on this, assign this to me

[2020-10-07 09:42] rai1410swati commented on #69
Hi! I can work on this issue in java and python language. Kindly assign this issue to me.

[2020-10-07 09:58] OMEGAeNcore commented on #69
I can do this in Python, Java and C++. Kindly assign this task to me.

[2020-10-07 10:06] anmol193 commented on #57
done @ankitapuri

[2020-10-07 10:27] varad64 commented on #74
@ankitapuri I've pushed the PR Java code for Tower of Hanoi

[2020-10-07 10:33] SandeepGamot commented on #74
Hey @ankitapuri, I can contribute a bunch of recursion solutions here,
does this require assignment or is it ok to directly push a PR?

[2020-10-07 11:01] ankitapuri commented on #74
Don't add so many codes please it takes a lot of effort to review it

[2020-10-07 11:13] ut-01 commented on #74
I want to contribute Fibonacci sequence using recursion in JavaScript.

[2020-10-07 11:23] abhijay-w commented on #74
Hello @ankitapuri, I would like to add the solution of the Staircase Problem in Java.

[2020-10-07 11:30] ankitapuri commented on #74
I am closing this issue for some time
those who were assigned can still continue

[2020-10-07 11:30] #74 closed

[2020-10-07 11:33] ankitapuri commented on #69
@OMEGAeNcore  @rai1410swati  I just want a code in JS and readme
If anyone of u is interested then you can tell me once and continue

[2020-10-07 12:00] tahmid02016 opened #93 "Add Jump Search"
I can add it in C++ and Python

[2020-10-07 12:35] samjones246 commented on #69
Hey, I can do this in JS :)

[2020-10-07 13:38] OMEGAeNcore commented on #69
I can do this in js.

[2020-10-07 14:11] shiladityaroy212 commented on #16
Please assign this to me. I can do this in C and C++. Specify any one

[2020-10-07 15:00] ankitapuri commented on #16
do it in C

[2020-10-07 15:01] ankitapuri commented on #69
ok
Also make a readme for selection sort

[2020-10-07 15:19] shiladityaroy212 commented on #16
Sure, will give it as soon as possible .

On Wed, 7 Oct, 2020, 8:30 pm Ankita Puri, <notifications@github.com> wrote:

[2020-10-07 15:24] Zaman3027 commented on #93
Please assign this to me I can do it in java

[2020-10-07 15:42] anirudhwalia commented on #93
I can do it in JAVA, I'd be happy if you assigned it to me.

[2020-10-07 17:33] #69 closed

[2020-10-07 17:36] ankitapuri opened #104 "Add Readme for Selection Sort"

[2020-10-07 17:38] Mithunitp commented on #104
Can I do this?

[2020-10-07 18:25] ankitapuri commented on #104
its already done
please look for other issues

[2020-10-07 18:25] #104 closed

[2020-10-07 18:39] debajitdeb11 commented on #5
Hey, @ankitapuri I want to add few more programs under this category. Can you please assign me?

[2020-10-07 18:49] Mithunitp commented on #57
Can i do in C language?

[2020-10-07 19:18] singhaldev opened #109 "ADD fibonacci series"
I can do fibonacci series using recursion in C++. if you assigned it to me.

[2020-10-07 23:09] PrakashAditya17 commented on #57
I am ready to code this in java, just order it and I am coding it.

[2020-10-07 23:19] PrakashAditya17 commented on #109
Adding N fibonacci series numbers in Java can be done by me. Please assign if required. I am willing to contribute.

[2020-10-07 23:21] ricardosmithco commented on #5
Please assign this to me and I can do in Java :)

[2020-10-08 02:57] krishrahul98 opened #112 "Generate Permutations"
**Problem Statement**
Given an integer array A of size N denoting a collection of numbers, return all possible permutations.

Language:

- [x] C++

[2020-10-08 03:33] ankitapuri commented on #109
Its already done

[2020-10-08 03:33] #109 closed

[2020-10-08 03:34] ankitapuri commented on #112
are using recursion for this @krishrahul98 or what other approach

[2020-10-08 03:41] krishrahul98 commented on #112
Using recursion @ankitapuri

[2020-10-08 03:42] ankitapuri commented on #112
okay add it in the recursion folder

[2020-10-08 03:42] #112 closed

[2020-10-08 03:43] ankitapuri commented on #57
its already done

[2020-10-08 03:43] #57 closed

[2020-10-08 03:44] ankitapuri opened #113 "Add Readme for Shell Sort"
Add Readme for Shell Sort in its folder

[2020-10-08 03:45] ankitapuri commented on #5
I have already assigned this  and once done I'll close this issue . please look for other issues

[2020-10-08 04:57] PrakashAditya17 commented on #113
I can add the Readme for Shell Short if required.

[2020-10-08 05:15] PragatiJ55 commented on #93
I can add the documentation for Jump search

[2020-10-08 05:28] Srithanya commented on #5
Can I do it in python?

[2020-10-08 05:29] khandelwalsarvesh commented on #5
I can do this in python3 ,JS, please assign me in which language is remaining.Thanks.

[2020-10-08 06:00] ankitapuri commented on #93
ok

[2020-10-08 06:00] ankitapuri commented on #93
ok

[2020-10-08 06:15] ankitapuri commented on #5
updates @koshtaayush ??

[2020-10-08 06:20] khandelwalsarvesh commented on #93
i can do it in python .Can you assign me this?

[2020-10-08 06:44] ankitapuri commented on #93
its done

[2020-10-08 06:58] khandelwalsarvesh commented on #93
Can I do it in js?

[2020-10-08 07:37] Rohanfizz opened #121 "Doubly LinkedList Implementation"
In ds implementations there can also be a dooublyLinkedList implementation which i want to provide in below mentioned pull request, Please accept it if you like it.
Peace :)

[2020-10-08 07:46] Rohanfizz commented on #121
#122  this is the pull request with Full implementation of doublyLinkedList in CPP.
Please accept if You Like It :)
Regards

[2020-10-08 08:08] PrakashAditya17 commented on #113
I have added the Readme file. Please confirm if its valid and satifying. Thanks

[2020-10-08 08:12] #113 closed

[2020-10-08 09:54] koshtaayush commented on #5
Raised PR @ankitapuri

[2020-10-08 10:11] shiladityaroy212 commented on #16
I have done the program of heap sort in C. Please have a look to it

[2020-10-08 11:00] #5 closed

[2020-10-08 12:48] singhaldev opened #128 "Recursion : Python program to display the Fibonacci sequence"
Can you assign this program to me.

[2020-10-08 13:33] ankitapuri commented on #128
ok

[2020-10-08 13:33] #128 closed

[2020-10-08 13:36] #121 closed

[2020-10-08 15:12] koshtaayush commented on #16
@ankitapuri Let me know for JS. Will wait. If not assigned to anyone I can pick.

[2020-10-08 17:45] PrakashAditya17 commented on #93
I can code it in Java or C whichever language is left.

[2020-10-08 19:46] PrakashAditya17 commented on #16
If its still left in C , do assign me.

[2020-10-09 15:40] rapunzel127 commented on #93
Can I do it in cpp?

[2020-10-10 19:31] debajitdeb11 opened #134 "Add Partition Algorithms"
Hello, I would like to add some Partitioning Algorithms.
Can you please assign me to add that?
Thanks!

[2020-10-10 20:27] Jainchhavi16 opened #135 "Add N-queens problem"
Add N-queens problem to backtracking folder.

[2020-10-10 20:28] Jainchhavi16 commented on #135
HI, I would like to work on this issue , please assign it to me.

[2020-10-11 03:42] MananOO12 opened #136 "Create a folder for all sorting techniques"
It would be better to create a separate folder for all sorting techniques.

[2020-10-11 03:44] MananOO12 commented on #136
I can do this if you assign it to me.

[2020-10-11 03:53] MananOO12 commented on #135
I've already submited the PR for this Algorithm 3 days ago.
#115
I guess you have to wait till that PR is merged.
Also it was in C++ so you can do it in other languages.

[2020-10-11 05:30] Jainchhavi16 commented on #135
I'll add it in python than
Thanks

[2020-10-11 06:32] ankitapuri commented on #134
ok do it and make a PR

[2020-10-11 06:32] #134 closed

[2020-10-11 06:34] ankitapuri commented on #135
@Jainchhavi16 @MananOO12 wait for sometime and let me review it first.

[2020-10-11 06:35] ankitapuri commented on #136
Its perfectly alright the way it is

[2020-10-11 06:35] #136 closed

[2020-10-14 04:56] #16 closed

[2020-10-14 04:58] ankitapuri commented on #93
Do it in C

[2020-10-16 00:03] myluco commented on #2
I have a couple of pull requests:
https://github.com/ankitapuri/DSA-guide/pull/144/commits/6d4405de84bde07a98bc91e6d12d9c38a05838f7
https://github.com/ankitapuri/DSA-guide/pull/145/commits/02ec213dc16c800aab055c58afb5519d4cc98bc3

Could someone review? Tx

[2020-10-16 17:42] #93 closed

[2020-10-16 17:45] PrakashAditya17 commented on #135
If this is also required , I can do in java @ankitapuri

[2020-10-18 08:10] ankitapuri opened #148 "Add tic-tac-toe game in cpp"
Add tic-tac-toe game in cpp along with a readme to expaining it

[2020-10-20 19:40] andrewsnapz commented on #148
HI ankitapuri, can you assign me to this? I'd love to tackle this since I haven't used C++ in a project yet!

[2020-10-24 06:46] #148 closed

[2020-10-26 17:36] VaishnaviKP commented on #135
@ankitapuri  ,can i please work on this in   C programming

[2021-02-12 15:44] Sloth-Panda opened #160 "would like to add selection sort"
would like to make this as part of cwoc

[2021-02-12 17:35] #135 closed

[2021-02-12 17:39] ankitapuri opened #161 "Add Shell Sort Readme"
Add a Readme explaining what is Shell Sort .

[2021-02-12 17:54] ankitapuri opened #162 "Add Jump Search in C++"
Add jump search in C++ programming language .

[2021-02-12 17:56] ankitapuri opened #163 "Add jump search in JavaScript"
Add jump search in JavaScript programming language .

[2021-02-13 02:54] kmryashasvi opened #164 "I want to add comments to all the files"
comments are very necessary
the make us understand the codes easily
there are very less fines in your repo which have comments in them,
comments have too much importance in coding tests of many companies,
thats why I have choosen this issue.

This is under crosswoc
i dont know how to add labels on issues

[2021-02-13 05:03] rakesh0x7 commented on #162
@ankitapuri can you please assign it to me under Crosswoc

[2021-02-13 05:04] rakesh0x7 commented on #161
@ankitapuri can you please assign it to me

[2021-02-13 06:31] deephunt3r opened #165 "link to Contribution Guidelines not linked properly in README.md"
![broken link](https://user-images.githubusercontent.com/60481830/107843597-7f49fa80-6df2-11eb-94aa-72faad0ce35c.png)

I would like to fix this issue under CrossWoc.
@ankitapuri could you please assign it to me

[2021-02-13 06:38] ankitapuri commented on #165
Okay !! Also add the contributing guidelines if anything is missing

[2021-02-13 06:48] ankitapuri opened #166 "2D - Matrices problem"
Create a Directory naming Matrices .
Under it create a folder naming C and then add a file writing the code of Tridiagonal Matrix

[2021-02-13 06:52] ankitapuri opened #167 "2D-Matrix Problem"
Create a Directory naming Matrices .
Under it create a folder naming C++ and then add a file writing the code of Tridiagonal Matrix

[2021-02-13 09:20] Amit366 commented on #163
can i work on this issue??

[2021-02-13 09:20] hardikchitkara commented on #160
I can provide selection sort in any language. Please assign this task to me. I'll get it done asap. I am doing this under CrossWoc.

[2021-02-13 09:21] Amit366 commented on #167
I can work on this issue

[2021-02-13 09:21] hardikchitkara commented on #164
i can add comments in any of the given code in all given languages. Please assign this task to me.

[2021-02-13 09:23] hardikchitkara commented on #163
i can work on this issue. Please assign this task to me

[2021-02-13 09:37] kmryashasvi commented on #164
@hardikchitkara It is already assigned to me

[2021-02-13 12:01] rakesh0x7 commented on #165
I have updated the README.md.
we can close this issue.
Thank you @ankitapuri

[2021-02-13 12:14] Sloth-Panda commented on #160
@hardikchitkara bro, if you want to contribute you should make your own issue to go ahead with that, Anways chill

[2021-02-13 13:21] ankitapuri commented on #160
@Sloth-Panda the selection sort is already done . Kindly look into some other issues or provide a idea which is not done yet.

[2021-02-13 13:21] #160 closed

[2021-02-13 14:44] #165 closed

[2021-02-13 14:52] ankitapuri opened #170 "Add Reverse a String in JS"
Using Recursion add the code to reverse a string in JS programming language

[2021-02-13 14:54] ankitapuri opened #171 "Generate Permutations in C"
Write code in C programming language to generate the permutations for the set of numbers entered .

[2021-02-13 15:02] ankitapuri opened #172 "2D - matrix problem"
Create a Directory naming Matrices .
Under it create a folder naming Python and then add a file writing the code of Tridiagonal Matrix

[2021-02-13 15:03] ankitapuri opened #173 "2D-Matrix Problem"
Create a Directory naming Matrices .
Under it create a folder naming JavaScript and then add a file writing the code of Tridiagonal Matrix

[2021-02-13 15:27] Archna29 commented on #171
I want to work on this issue

[2021-02-13 15:38] Abhinav0909 commented on #170
Hi,@ankitapuri I want to work on this issue

[2021-02-13 16:12] epicdeepak commented on #166
can i work on this ?

[2021-02-13 16:55] sujal111 commented on #173
Please allow me to solve this

[2021-02-13 17:01] ankitapuri commented on #164
@hardikchitkara  u can add comments on the rest of the files which are remaining

[2021-02-13 17:02] #161 closed

[2021-02-13 17:04] rakesh0x7 commented on #162
@ankitapuri we can close this!!

[2021-02-13 17:11] Sloth-Panda commented on #172
would like to work on this

[2021-02-13 17:13] Sloth-Panda opened #180 "addition of issue, pr templates, welcome and greeting bots"
let me know if you want to get this done and assign me for the same

welcome bot config file will be having a proper message that will show up when any user will open up an issue or pull-request for the first time.
For reference, check out

https://github.com/apps/welcome

[2021-02-13 17:18] ankitapuri commented on #180
cool go ahead

[2021-02-13 17:22] #162 closed

[2021-02-13 17:40] ankitapuri opened #182 "Add Fibonacci in JS"
Using Recursion add Fibonacci Series using JavaScript Programming Language .

[2021-02-13 17:46] #180 closed

[2021-02-13 19:06] ShudhanshuSingh opened #183 "Wave Sort"
I will add Wave Sort using C++

[2021-02-13 19:11] ShudhanshuSingh opened #184 "DNF sort"
I will add DNF sort using C++

[2021-02-13 19:13] 96RadhikaJadhav commented on #182
@ankitapuri Can I work on it? I'm CrossWoc participant.

[2021-02-13 19:33] Sloth-Panda opened #185 "selection sort in js"
## 💥 Proposal

(A clear and concise description of what the proposal is.)
Would like to show selection sort in javascript with example
### Have you read the *Contributing Guidelines on Pull Requests* ?

(Write your answer here.)
Yes

[2021-02-13 19:33] Sloth-Panda commented on #185
@ankitapuri  would like to work on this issue

[2021-02-13 19:35] Sloth-Panda opened #186 "Higher order array methods in js"
## 💥 Proposal

(A clear and concise description of what the proposal is.)
Would like to show different higher order array methods using javascript
### Have you read the *Contributing Guidelines on Pull Requests* ?

(Write your answer here.)
Yes

[2021-02-13 19:35] Sloth-Panda commented on #186
@ankitapuri  would like to work on this issue

[2021-02-13 19:51] Sloth-Panda opened #187 "Exponential search"
Would like to state this with example Let me know

[2021-02-14 04:26] kmryashasvi opened #188 "I will add a readme file to all the techniques"
Guidance via code is okay, but many students between us like to understand and get the things easily with the help of documentation.
 That's why I want to add a readme file to all the techniques used in this repo.

For example,
In the directory of bubble sort,
I will add a readme file which will contain definition, mechanisms, etc., which will make the user understand the topic easily.
Thank you

[2021-02-14 04:29] yashlikescode commented on #188
And don't worry.
This time I will do my duty to all of the files. (Unlike the case when I was not able to add comments to some of the files)
Because I have only to do the documentation, coding is not required much.

And please don't set difficulty of the issue as "easy" because there are a large number of techniques mentioned and it will take time.

[2021-02-14 04:36] gopichandpuli9 commented on #187
Can I work on this?

[2021-02-14 04:58] Sloth-Panda commented on #187
hey bro @gopichandpuli9 you can make a different issue or if I am not able to get it done you can go ahead

[2021-02-14 05:00] Sloth-Panda commented on #180
@ankitapuri can I know how are you keeping track of the prs and the individual people's points?

[2021-02-14 05:27] ankitapuri commented on #180
I am maintaining the google sheet where I am writing the PR merged and the score according to difficulty .

[2021-02-14 05:30] ankitapuri commented on #188
Join the discord link once so that I can discuss in detail : https://discordapp.com/channels/798445199176892447/798445619215466506/810035803887501362

[2021-02-14 05:32] ankitapuri commented on #187
@Sloth-Panda in which language you want to work on  : C / C++ / JS / Python?

[2021-02-14 05:33] ankitapuri commented on #185
U should check the repo before creating issues . Its already done .

[2021-02-14 05:33] #185 closed

[2021-02-14 05:34] ankitapuri commented on #186
Join the discord channel once so that I can discuss in detail : https://discordapp.com/channels/798445199176892447/798445619215466506/810035803887501362

[2021-02-14 05:35] Sloth-Panda commented on #186
@ankitapuri can you provide your peojects server's discord this is the link for the whole cwoc server

[2021-02-14 05:36] gopichandpuli9 commented on #171
Can I implement this in Python?

[2021-02-14 05:37] Sloth-Panda commented on #187
@ankitapuri I can do it in java/js

[2021-02-14 05:38] gopichandpuli9 commented on #187
@ankitapuri I could implement in python and C++

[2021-02-14 05:40] ankitapuri commented on #187
Go ahead with JS @Sloth-Panda

[2021-02-14 05:41] ankitapuri commented on #187
Go ahead with C++ @gopichandpuli9

[2021-02-14 05:43] ankitapuri commented on #186
https://discord.gg/fK9f8qyY

[2021-02-14 05:52] #186 closed

[2021-02-14 06:23] AnirudhJS07 commented on #171
I'd want to work on this issue. May I be assigned this?

[2021-02-14 08:01] m-code12 opened #190 "Bead Sort in C++"
I would like to work on this as a part of CrossWoc 2021. @ankitapuri Could you assign it to me?

[2021-02-14 08:48] Ayush7614 opened #192 "Add Cross WOC Banner or Poster"
## Is your feature request related to a problem? Please describe.
Add Cross WOC Banner or Poster

## Describe the solution you'd like
Add Cross WOC to  Banner or Poster

[2021-02-14 10:57] kanak22 commented on #188
Can I work on this ?
As I think it's a lot of documentation for only a single person.. so can I also contribute?

[2021-02-14 11:14] ankitapuri commented on #192
I want to extend this issue . In addition to adding poster , add the github stats cards .
Features required :
- no of issues open
- no of issues closed
- no of pull requests open
- no of pull requests closed
- no of forks
- no of stars
- no of contributors

[2021-02-14 11:22] #163 closed

[2021-02-14 11:23] gopichandpuli9 commented on #170
Hey can I implement this in other languages?

[2021-02-14 11:25] ankitapuri opened #193 "Mention the issue no while opening Pull Request"
While opening a PR , do mention the issue no which you have resolved

[2021-02-14 11:42] ankitapuri commented on #170
U can do either in JS or Python . Mention which one

[2021-02-14 11:44] ankitapuri commented on #171
In JS or python ?

[2021-02-14 11:45] gopichandpuli9 commented on #170
Python

[2021-02-14 11:46] gopichandpuli9 commented on #171
I'll implement in python

[2021-02-14 11:47] AnirudhJS07 commented on #171
I thought it was in C/C++. I'd prefer these languages.

[2021-02-14 11:53] ankitapuri commented on #171
Its already done . You can look at other issues

[2021-02-14 12:02] gopichandpuli9 commented on #171
I'll implement in python. Assign it to me.

[2021-02-14 13:12] yashlikescode commented on #188
all directories have their readme files only recursion's readme is needed, rest have to be edited only

[2021-02-14 13:13] yashlikescode commented on #188
@kanak22

[2021-02-14 15:29] gh4abhi opened #196 "Linear Search"
Find whether an element is present in the given array using linear search technique.

[2021-02-14 15:29] gh4abhi commented on #196
Please assign this to me I will do it in c++.

[2021-02-14 15:42] epicdeepak commented on #166
@ankitapuri can you please elaborate it a bit like input and output conditions?

[2021-02-14 16:27] ankitapuri commented on #166
Basic idea is to create a tridiagonal matrix
Ask the user to input the order of matrix .
Then accordingly ask the  elements required for tridiagonal matrix to be inputted by the user . And later print the output in matrix form

[2021-02-14 17:48] #182 closed

[2021-02-14 18:00] Abhinav0909 commented on #170
@ankitapuri Is there any guidelines that I have to follow before submitting the code?

[2021-02-14 18:15] ankitapuri commented on #170
Just mention the issue on which u have worked and also while writing the code explain it using some comments.

[2021-02-15 07:22] #188 closed

[2021-02-15 07:32] ItsmeSauravSonu opened #201 "Add a directory for Tree Problems"
I wanna add tree problems, please verify and assign to me

[2021-02-15 09:03] deephunt3r opened #202 "Bead sort"
I would like to add bead sort in c lang

[2021-02-15 09:03] rakesh0x7 commented on #202
@ankitapuri can you please assign it to me.

[2021-02-15 09:21] gopichandpuli9 commented on #171
Please assign this to me. I'll work in python

[2021-02-15 13:09] Sloth-Panda commented on #187
I have done it using java as i have done dsa using it I am most comfortable with it @ankitapuri , should I go on making a pr?

[2021-02-15 13:35] Ayush7614 commented on #192
Okk you can assign me i will do this all things @ankitapuri under crosswoc

[2021-02-15 14:47] ankitapuri commented on #187
I am really sorry but I am not taking PRs for Java

[2021-02-15 15:02] ankitapuri commented on #201
Please specify which problem related to trees and in which language

[2021-02-15 15:05] ItsmeSauravSonu commented on #201
Traversals of trees inorder ,preorder ,postorder and level order using
recursion and iterative both approach in java lanaguage

On Mon, Feb 15, 2021, 8:33 PM Ankita Puri <notifications@github.com> wrote:

[2021-02-15 15:12] #166 closed

[2021-02-15 15:59] Sloth-Panda commented on #187
@ankitapuri can I give a try in python/c then?

[2021-02-15 16:06] ankitapuri commented on #187
ok do in C then

[2021-02-15 16:40] deephunt3r opened #204 "Bead sort Readme"
I would like to add Readme for bead sort

[2021-02-15 16:40] rakesh0x7 commented on #204
@ankitapuri could you please assign it to me

[2021-02-15 17:25] 96RadhikaJadhav commented on #183
@ankitapuri  Can I add the solution to this in JS and python?

[2021-02-16 05:37] ishikabansal04 commented on #196
Please assign me the issue , I want to create graph using different methods. I will do this in C++.

[2021-02-16 05:37] weirdrag08 commented on #196
Please assign this issue to me. My preferred language will be c++.

[2021-02-16 11:11] prajaktanandawade commented on #170
Hello @ankitapuri I want to work on this issue Add Reverse a String in JS..Please can you assign this to me?

[2021-02-16 15:38] kmryashasvi opened #207 "Adding C++ code in the Matrices Directory"
## 💥 Proposal

I will add a C++ code for the  tridiagonal matrix

### Have you read the *Contributing Guidelines on Pull Requests* ?

Yes, I have contributed too.

[2021-02-16 15:46] #207 closed

[2021-02-16 15:53] yashlikescode commented on #167
May I add a code for it in python?
assign me and get the job done same day...
(except when you assign me when its my sleeping time, then work will  be done next day)
🥺

[2021-02-16 18:26] swetakb15 commented on #202
@ankitapuri could you please assign me this? I will code it in C++.

[2021-02-16 18:33] swetakb15 opened #208 "User Interactive README.md"
**Is your feature request related to a problem? Please describe.**
----
-Visuals are always a better way to convey any message.

**Describe the solution you'd like**
----
-I want to add a few features to the existing README.md

[2021-02-17 04:48] #192 closed

[2021-02-17 05:01] yashlikescode commented on #202
I can provide code for it in python

[2021-02-17 07:16] rakesh0x7 commented on #202
@swetakb15 I think there is an issue already #190 check it.

[2021-02-17 11:25] swetakb15 commented on #202
@deephunt3r I saw it just now. @ankitapuri would you please make the changes and assign us accordingly.

[2021-02-17 13:18] ankitapuri commented on #202
Can you do in JS .

[2021-02-17 13:18] ankitapuri commented on #208
Its already done

[2021-02-17 13:18] #208 closed

[2021-02-17 13:32] swetakb15 commented on #208
Previously, it wasn't so I raise an issue.

[2021-02-17 17:49] avishmehta68710 commented on #201
Hi i would like to work on this issue can you please assign it to me. i would like to add traversals, binary search tree and avl trees in python

[2021-02-18 14:37] ankitapuri commented on #201
@ItsmeSauravSonu @avishmehta68710 In which language will u prefer to add the traversals

[2021-02-18 14:38] ItsmeSauravSonu commented on #201
Java

On Thu, Feb 18, 2021, 8:07 PM Ankita Puri <notifications@github.com> wrote:

[2021-02-18 14:38] avishmehta68710 commented on #201
i would like to do in python and c++

[2021-02-18 15:41] ankitapuri commented on #201
U can do in C , C++ or JS

[2021-02-18 15:41] ankitapuri commented on #201
Do in python

[2021-02-18 15:53] japneetbhatia opened #213 "Counting Sort in java"
I would like to work on Counting Sort in Java please assign this to me under CrossWoc

[2021-02-18 16:50] Sloth-Panda opened #214 "Local Minima in an array"
## 💥 Proposal

(A clear and concise description of what the proposal is.)

This code will be able to find local minima in  an array
### Have you read the *Contributing Guidelines on Pull Requests* ?

(Write your answer here.)
Yes

[2021-02-18 16:51] Sloth-Panda commented on #214
@ankitapuri Would like to make this using python/ c++ ; You can assign anyof the languages better python else c++

[2021-02-18 16:55] Sloth-Panda opened #215 "Counting leaf nodes in a binary tree"
## 💥 Proposal

(A clear and concise description of what the proposal is.)

Want to implement this using python
### Have you read the *Contributing Guidelines on Pull Requests* ?

(Write your answer here.)
YES

[2021-02-18 16:55] Sloth-Panda commented on #215
@ankitapuri

[2021-02-18 16:58] Sloth-Panda opened #216 "leaders in an array"
## 💥 Proposal

(A clear and concise description of what the proposal is.)

finding leaders in an array
### Have you read the *Contributing Guidelines on Pull Requests* ?

(Write your answer here.)

YES

[2021-02-18 16:59] Sloth-Panda commented on #216
@ankitapuri would like to work on it using python/c++

[2021-02-18 18:03] noviicee opened #217 "Adding a new sorting technique."
I wish to contribute to this repository by adding a new sorting algorithm in Python Programming Language.
It is known as Monkey sort.
I will provide all the necessary details on this technique also in my file, so users who don't have any information on it, might still be able to get an idea on this sorting technique.

Will be waiting for a response to go ahead :)

[2021-02-19 05:02] ankitapuri commented on #213
I am taking code for Java .
Sorry for that

[2021-02-19 05:02] #213 closed

[2021-02-19 05:36] #204 closed

[2021-02-19 09:49] swetakb15 commented on #215
@ankitapuri can I code in C++

[2021-02-19 09:52] swetakb15 commented on #172
@ankitapuri If this is still open will you please assign this to me

[2021-02-19 16:59] ankitapuri commented on #217
Can u please provide bit brief about it

[2021-02-20 02:21] yashlikescode commented on #202
If you allow,
I can do it in Js too.

[2021-02-20 05:39] ankitapuri commented on #202
let others be given a chance

[2021-02-20 06:49] Amit366 commented on #202
@ankitapuri can i solve this using Java??

[2021-02-20 18:53] noviicee commented on #217
Ya sure.
This sorting technique is a highly inefficient sorting algorithm based on the generate and test paradigm. (hit and trial method)
The function successively generates permutations of its input until it finds one that is sorted.

Needless to say, this is a highly inefficient sorting technique, but it indeed exists, and so I think it can be demonstrated just for some fun!

[2021-02-21 05:53] kanak22 commented on #216
I would like to work on this in C++

[2021-02-22 02:19] yashlikescode commented on #216
If the problem is  about selecting string from a given array,
I can work on it using C,
I will pull request the same day issue is assigned

[2021-02-22 02:21] yashlikescode commented on #214
I can work on C for this problem

[2021-02-22 05:22] swetakb15 commented on #215
@ankitapuri where do I have to add my file? In the sorting folder or will I have to make one

[2021-02-22 18:59] Mansi3546 opened #222 "hey .. @ankitapuri ,.. I want to add some recursion problems like harmonic sum of n-1 , geometric sum of n-1 and some complex math problems too.,..in Python . so can you please assign this issue to me?? for contribution in CrossWoc."

[2021-02-24 05:56] saimanoharhm opened #223 "Singly linked list"
## 💥 Proposal

(A clear and concise description of what the proposal is.)
I would like to contribute few Singly linked list codes using c. Could you please assign this for me.
### Have you read the *Contributing Guidelines on Pull Requests* ?

(Write your answer here.)
yes

[2021-02-24 05:57] saimanoharhm commented on #223
Where should need to add this. Whether should I need to create new folder or in which folder should I need to add this.

[2021-02-25 10:23] ankitapuri commented on #223
create a new folder and then a sub-folder of preferred lang .
In which language are u gonna do ?

[2021-02-25 13:25] hardikchitkara commented on #202
@ankitapuri i want to do it in java, please assign this issue to me.

[2021-02-25 13:54] hardikchitkara opened #225 "Sudoku Solver"
## 💥 Proposal

(A clear and concise description of what the proposal is.)

The proposal is about a hard problem of backtracking/ recursion named Sudoku solver.

### Have you read the *Contributing Guidelines on Pull Requests* ?

(Write your answer here.)

Yes

[2021-02-25 13:55] hardikchitkara commented on #225
@ankitapuri Can i work on this issue?

[2021-02-25 13:58] hardikchitkara commented on #171
I want to work on this in js, please assign it to me.

[2021-02-25 16:06] saimanoharhm commented on #223
@ankitapuri Can I work on c,c++ and java. If not I will work on c

[2021-02-25 16:08] saimanoharhm opened #226 "Stack using c"
## 💥 Proposal

(A clear and concise description of what the proposal is.)
I would like to contribute stack programs using c language. Could you pls assign this for me
### Have you read the *Contributing Guidelines on Pull Requests* ?

(Write your answer here.)

yes

[2021-02-25 16:09] saimanoharhm commented on #226
@ankitapuri Could you pls assign this for me. Can I work on c,c++ and java. If not I will work on c

[2021-02-25 16:10] saimanoharhm opened #227 "Binary Search Tree"
## 💥 Proposal

(A clear and concise description of what the proposal is.)
I Would like to contrubute few Binay search tree programs using c.
### Have you read the *Contributing Guidelines on Pull Requests* ?

(Write your answer here.)
yes

[2021-02-25 16:10] saimanoharhm commented on #227
@ankitapuri Could you pls assign this for me. Can I work on c,c++ and java. If not I will work on c

[2021-02-25 16:13] saimanoharhm opened #228 "Queues using c"
## 💥 Proposal

(A clear and concise description of what the proposal is.)
I would like to contribute few Queue programs.
### Have you read the *Contributing Guidelines on Pull Requests* ?

(Write your answer here.)
Yes

[2021-02-25 16:13] saimanoharhm commented on #228
@ankitapuri Could you pls assign this for me. Can I work on c,c++ and java. If not I will work on c

[2021-02-25 16:16] Akash20x commented on #225
I want to solve it in python.
Please assign me this issue as a part of Cross Woc

[2021-02-25 21:06] Ayush7614 opened #229 "Interpolation Search"
**Is your feature request related to a problem? Please describe.**
Interpolation Search

- A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**

- For the binary search technique, the lists are divided into equal parts. For the interpolation searching technique, the procedure will try to locate the exact position using i

[2021-02-25 21:07] Ayush7614 commented on #229
@ankitapuri plss assign me under crosswoc

[2021-02-26 02:41] ankitapuri commented on #222
will u use recursion?

[2021-02-26 02:42] ankitapuri commented on #183
@96RadhikaJadhav  do in Python

[2021-02-26 03:06] Mansi3546 commented on #222
In whatever way you want,.. I can solve that problems,.. If you will assign with recursion ,.then I will go with it otherwise in normal way. I mentioned recursion because there are only 3 problems solved in recursion topic with Python till now.

[2021-02-26 06:34] AbhipsaGuru1012 commented on #225
@ankitapuri  I would like to work on it in java. Please assign it to me.

[2021-02-26 07:02] Spidy-Coder opened #230 "I want to add recursion problem with solution in c++ language about - sum of triangul from array"
## 💥 Proposal

I want to add a folder of my code in c++ about <b>Sum triangle from array</b> in your <b>recursion folder</b>

### Have you read the *Contributing Guidelines on Pull Requests* ?

Yes

### This is my code in c++

` // C++ program to create Special triangle.
#include<bits/stdc++.h>
using namespace std;

// Function to generate Special Triangle
void printTriangle(int A[] , int n)
    {

[2021-02-26 12:45] kiruba-r11 commented on #172
@ankitapuri I would like to work on this if it's still open. I can implement it in both python and C++.

[2021-02-26 12:52] kiruba-r11 opened #231 "Find Peak Element in the given array"
## 💥 Proposal

(A clear and concise description of what the proposal is.)
This question uses the concept of **Binary Search** to find the peak element

### Have you read the *Contributing Guidelines on Pull Requests* ?

(Write your answer here.)
YES

[2021-02-26 12:52] kiruba-r11 commented on #231
@ankitapuri I would like to work in C++.

[2021-02-26 12:54] kiruba-r11 opened #232 "Maximum Element in a Bitonic Array"
## 💥 Proposal

(A clear and concise description of what the proposal is.)
Bitonic Array is an array in which the elements of the array first increases to a point and from there it decreases. The question is to find the maximum element in this array using **Binary Search**

### Have you read the *Contributing Guidelines on Pull Requests* ?

(Write your answer here.)
YES

[2021-02-26 12:54] kiruba-r11 commented on #232
@ankitapuri I would like to work in C++.

[2021-02-26 12:56] kiruba-r11 opened #233 "Find pair with given sum"
## 💥 Proposal

(A clear and concise description of what the proposal is.)
The question is to find a pair that gives the sum that the user has entered. It can be implemented by sorting the array and using `Two Pointer` approach.

### Have you read the *Contributing Guidelines on Pull Requests* ?

(Write your answer here.)
YES

[2021-02-26 12:57] kiruba-r11 commented on #233
@ankitapuri  I would like to work on this in C++.

[2021-02-26 16:42] ankitapuri commented on #222
do through recursion

[2021-02-26 16:56] ankitapuri commented on #172
do it in python

[2021-02-26 18:08] kiruba-r11 commented on #167
@ankitapuri Can I work on this in C++.

[2021-02-26 21:22] JassieK commented on #173
Please can I solve this

[2021-02-27 02:21] yashlikescode commented on #167
What happened?
Should I proceed or not?

[2021-02-27 05:45] ankitapuri commented on #227
Do it in C

[2021-02-27 05:50] ankitapuri commented on #196
Please specify what algorithms will u add

[2021-02-27 06:13] arbazalam01 commented on #225
I will do it in C++
Can you please assign this to me

[2021-02-27 06:15] arbazalam01 commented on #190
Can i work on it

[2021-02-27 06:17] arbazalam01 commented on #187
Can i give it a try in C++

[2021-02-27 06:25] m-code12 commented on #190
@arbazalam01
I am already working on it and will raise a pr soon.

[2021-02-27 06:35] #172 closed

[2021-02-27 06:42] kiruba-r11 commented on #231
@ankitapuri Please have a look at it

[2021-02-27 06:52] ankitapuri commented on #231
create a folder of array and a sub-folder of cpp under it .

[2021-02-27 07:53] kmryashasvi opened #238 "Adding a Directory for stacks and a Directory for Queues"
## 💥 Proposal

I will add two directories:
1. Stacks
2. Queues  (Both Directories with Readme files)

I will Provide Codings in **Java**,  **C** , **C++** and **Python** also.

### Have you read the *Contributing Guidelines on Pull Requests* ?
Yes, I have contributed earlier in this project, and also in projects like Ds and algo, quantum computing, college library website, etc.

[2021-02-27 07:54] yashlikescode commented on #238
I will try to do the task in 2-3 days after being assigned.

[2021-02-28 07:09] paridhi-jain-047 commented on #230
Please let me know, when I can submit my code?

[2021-03-01 02:34] ankitapuri commented on #190
U were unassigned @m-code12 bcoz everyone gets a period of 6 days to do .

[2021-03-01 02:36] ankitapuri commented on #229
your preferred language ?

[2021-03-01 04:19] kiruba-r11 commented on #233
@ankitapuri Can I start working on this?

[2021-03-01 04:43] #202 closed

[2021-03-01 05:00] yashlikescode commented on #238
?

[2021-03-01 05:20] Amit366 commented on #231
@ankitapuri can I do it in Java?

[2021-03-01 05:27] m-code12 commented on #190
Really sorry for the delay @ankitapuri , I had my exams in between, I wasn't aware of the 6 days period. I'll keep this in mind in future and this shall never be repeated.
 I have raised a PR for it.

[2021-03-01 08:13] Ayush7614 commented on #229
C++

[2021-03-01 11:54] vybhav72954 opened #242 "Enforce PEP-8 guidelines all over the Python Codebase"
## 💥 Proposal

With the growing number of scripts, it would be a good idea to ensure that PEP-8 guidelines are satisfied.

### Have you read the *Contributing Guidelines on Pull Requests*?

Yup

[2021-03-01 14:50] saimanoharhm commented on #223
@ankitapuri Could you pls assign this for me

[2021-03-01 14:50] saimanoharhm commented on #226
@ankitapuri Could you pls assign this for me

[2021-03-01 15:09] Akash20x commented on #225
Please check my pull request

[2021-03-01 17:40] ankitapuri commented on #190
okay

[2021-03-01 17:57] #190 closed

[2021-03-01 21:04] Akash20x commented on #225
Please now check my pull request

[2021-03-02 04:30] hardikchitkara commented on #184
i can add it in python
please assign it to me

[2021-03-02 07:42] #164 closed

[2021-03-02 07:44] #167 closed

[2021-03-02 07:46] Amit366 commented on #167
@ankitapuri I have sent a PR. It isn't merged

[2021-03-02 19:16] vybhav72954 opened #247 "Add a .gitignore"
**Is your feature request related to a problem? Please describe.**
----
- Because of the Lack of `.gitignore` files like `.vscode` and `.DS Store` are in Repo which we don't need at all.

**Describe the solution you'd like**
----
- A `.gitginore` with patterns to get rid of IDE generated files, OS files, Environtemts etc

**Describe alternatives you've considered**
----
- Manually deleting them I

[2021-03-02 19:43] vybhav72954 opened #248 "All MARKDOWN files that needs to be rendered should be README.md"
**Describe the bug**
----
- All across the Repo, some markdown files that should be rendered are either called README.md or have a Trivial Name like `Heap Sort.md`.

So there are 2 scenarios:

1. All algorithm documentation files should be rendered **(preferably)** and hence should be renamed to `README.md`
1. None of the documentation files should be rendered **(can be useful in some cases, not h

[2021-03-02 19:48] vybhav72954 opened #249 "Exponential Search in Python"
**Is your feature request related to a problem? Please describe.**
----
- The Repo is missing Exponential Search in Python. I would like to add that here.

[2021-03-02 19:57] vybhav72954 opened #250 "Matrix Sorting"
**Is your feature request related to a problem? Please describe.**
----
- A strict matrix sorting algorithm that ensures numbers are sorted in increasing order.

I can do this for C a and Cpp as well.

[2021-03-03 02:47] #238 closed

[2021-03-03 07:28] ankitapuri commented on #248
Would u like to solve it

[2021-03-03 07:28] ankitapuri commented on #226
What problem of stack will u implement ?

[2021-03-03 07:30] ankitapuri commented on #187
its done

[2021-03-03 07:47] vybhav72954 commented on #248
Yes please

[2021-03-03 07:49] vybhav72954 commented on #248
@ankitapuri I have opened 5 issues #242 #247 - #250

You can assign me all those which you think are required in the Repo

[2021-03-03 07:50] vybhav72954 commented on #248
And do tell me what you want, should I rename each fie to README so that they are rendered or should I rename to Algorithm name.

[2021-03-03 09:50] vybhav72954 opened #251 "Rename the Directories and Scripts to follow same convention."
## 💥 Proposal

There are multiple directories in this Repo along with many scripts. But there is no strict naming convention. Renaming all the files in order to ensure the same convention should be done.

Moreover, this change should be mentioned in `CONTRIBUTING GUIDELINES` as well.

I suggest this convention:

For directories - `Directory_Name`
For scripts - `script_name.extension`

### Have you

[2021-03-03 11:07] ankitapuri commented on #248
keep the name README.md and I can't assign all issues to 1 person . It needs to be done 1 at a time .

[2021-03-03 11:52] vybhav72954 commented on #248
I will complete them on the go I guess XD

[2021-03-03 12:42] vybhav72954 commented on #250
@ankitapuri I have solved my previously assigned issues, assign this to me

[2021-03-04 13:15] Ayush7614 commented on #229
@ankitapuri plss assign me plss respond

[2021-03-04 16:02] kiruba-r11 commented on #233
@ankitapuri Can I work on this in python

[2021-03-04 16:04] ankitapuri commented on #214
do it in python

[2021-03-04 16:07] ankitapuri commented on #233
you already did in 1 language

[2021-03-04 16:20] kiruba-r11 opened #254 "Trapping Rain Water"
## 💥 Proposal

(A clear and concise description of what the proposal is.)
Trapping Rain Water is one of the most important array questions.

### Have you read the *Contributing Guidelines on Pull Requests* ?
Yes

[2021-03-04 16:20] kiruba-r11 commented on #254
@ankitapuri Can I work on this issue?

[2021-03-04 20:07] vybhav72954 commented on #242
Hey @ankitapuri Can you assign this to me 😄

[2021-03-05 04:02] #249 closed

[2021-03-05 04:03] #248 closed

[2021-03-05 04:04] ankitapuri commented on #228
What programs please specify .

[2021-03-05 04:06] ankitapuri commented on #254
in which language ?

[2021-03-05 04:08] ankitapuri commented on #250
Do it in C.

[2021-03-05 04:12] kiruba-r11 commented on #254
@ankitapuri C++

[2021-03-05 04:54] vybhav72954 commented on #248
@ankitapuri Can you put the labels for CrossWoc, I believe difficulty label is required!

[2021-03-05 05:46] ankitapuri commented on #248
it is required on the issues. not on the PRs .

[2021-03-05 06:07] kiruba-r11 commented on #254
@ankitapuri Please label it under CrossWoc

[2021-03-05 13:39] kmryashasvi opened #256 "Associating link of crosswoc website to its banner"
I will associate link of the crosswoc website to its banner such that, if someone clicks the banner on readme file, it will redirect them to the website of crosswoc.

[2021-03-05 16:29] yashlikescode commented on #214
@ankitapuri  please consider one question and a query mentioned below
1. I have made the source file for this issue, but I am not able to figure out where to insert it, Please guide me, Should I create a new   directory for it or I have to insert in an existing directory?
2.  sloth-panda has left the issue, Hence, if you allow me, I can provide the code in rest of the languages(C++, Python3, Java)

[2021-03-05 16:53] ankitapuri commented on #214
under the array section under cpp folder

[2021-03-06 05:51] kmryashasvi opened #260 "I will add name and photo of maintainer in the end of readme file of your repo"
like the one mentioned below
![image](https://user-images.githubusercontent.com/66861659/110196949-1d6b3680-7e6e-11eb-87d9-55f128eea13d.png)

[2021-03-06 15:35] Akash20x commented on #225
Check my pull request

[2021-03-06 18:25] vybhav72954 commented on #250
@ankitapuri I have added it in C. But originally I wanted to do it in Python as i really don't enjoy C. "Though i never made it clear in my Issue". So if you want i can add it in Python as well

[2021-03-06 18:27] vybhav72954 commented on #248
What I actually meant was, that on the Issue there are 3 labels- `CrossWoC, bug, good first issue`.

None of which as per my knowledge are difficulty label that CrossWoc Require

[2021-03-07 04:53] ankitapuri commented on #260
its not needed

[2021-03-07 04:53] #260 closed

[2021-03-07 04:57] ankitapuri commented on #250
you have already done in one language . so u can't do same in some other language .

[2021-03-07 05:15] kiruba-r11 opened #262 "StairCase Search"
## 💥 Proposal

StairCase search is also commonly known as Search in a Row and Column sorted array.

### Have you read the *Contributing Guidelines on Pull Requests* ?
Yes

[2021-03-07 05:17] kiruba-r11 commented on #262
@ankitapuri I would like to solve this problem in C++. Please assign this to me under CrossWoC. I will be adding three approaches of this question and differentiate each one of them with their property of Row and Column sorted.

[2021-03-07 06:05] vybhav72954 commented on #250
Assign me my other issues in that case.

[2021-03-07 09:27] hardikchitkara commented on #262
please assign java stair case to me.

[2021-03-07 16:49] #256 closed

[2021-03-07 18:22] Akash20x commented on #262
I want to solve this in python
Please assign me this issue as a part of Cross Woc

[2021-03-07 18:50] hardikchitkara commented on #254
asiisn to me in python.

[2021-03-07 18:50] hardikchitkara commented on #262
python or js assign it to m

[2021-03-08 05:02] ankitapuri commented on #262
do in JS

[2021-03-08 05:59] kiruba-r11 opened #264 "Sum of All Sub Matrices of a Matrix"
## 💥 Proposal
This is the most asked problem in interviews in 2-D Arrays. The brute force of this problem is having a time complexity of O(n ^ 6) and a Space complexity of O(1). Using extra space it can be optimized into a Time Complexity of O(n^4) and a Space Complexity of O(n ^ 2). But this can further be optimized into O(n^2) time and O(1) space. I will be implementing all three approaches to t

[2021-03-08 06:00] kiruba-r11 commented on #264
@ankitapuri Please assign this to me, I will solve this in C++

[2021-03-09 13:49] abhinav5481 commented on #254
Hi,
I would like to work on this. Please assign it to me.

[2021-03-10 00:02] yashlikescode commented on #214
I can also provide code in c++ and Python if you want

[2021-03-10 03:14] ankitapuri commented on #254
which language ?

[2021-03-10 03:25] #222 closed

[2021-03-10 03:25] #228 closed

[2021-03-10 03:25] #226 closed

[2021-03-10 04:00] abhinav5481 commented on #254
Java or python or both

[2021-03-10 07:35] Amit366 commented on #254
@ankitapuri Can I work on this using Java?

[2021-03-10 16:04] ankitapuri commented on #254
@abhinav5481 do it in python

[2021-03-10 16:04] ankitapuri commented on #254
u can choose either JS or C

[2021-03-10 16:06] Amit366 commented on #254
I can do in C

[2021-03-10 18:22] abhinav5481 opened #268 "Deepest Leaves Sum"
**Is your feature request related to a problem? Please describe.**
----
- A very popular DSA question on binary trees -  Given the root of a binary tree, return the sum of values of its deepest leaves.

**Describe the solution you'd like**
----
- I would like to get it solved in Java.

I would like to work on this problem in Java, @ankitapuri please assign it to me.

[2021-03-10 18:23] abhinav5481 commented on #268
I would like to work on this in Java as part of CrossWoc. Please assign it to me.

[2021-03-11 04:49] rakesh0x7 opened #269 "towers of hanoi"
## 💥 Proposal

I would like add toh using recursion in cpp

### Have you read the *Contributing Guidelines on Pull Requests* ?

- [X] yes

[2021-03-11 12:37] kiruba-r11 commented on #264
@ankitapuri There are three different approaches with different complexities to this problem. Each one of the approaches is useful for solving other problems related to submatrices. So, can I execute one of the approaches in this issue, and the other two in different issues, or do all three in this issue itself.

[2021-03-11 15:23] ankitapuri commented on #268
@abhinav5481 I'm not taking solutions in Java language

[2021-03-11 15:25] ankitapuri commented on #264
All 3 in 1 please , bcoz I can take just 1 PR per issue

[2021-03-11 15:47] abhinav5481 commented on #268
Okay,
I can do it in Python as well. Or if you want me to implement it in a particular language then please tell me.

[2021-03-11 16:10] abhinav5481 commented on #268
I will be working as a part of Crosswoc'21 . Please add a label of CrossWoc.

[2021-03-11 20:02] ankitapuri commented on #269
okay

[2021-03-13 10:02] yashlikescode commented on #184
I will provide code in C

[2021-03-13 10:12] ShudhanshuSingh commented on #184
Hey, sorry for the delay my mid semester exams were there.

I will push the code in C++ by today itself

[2021-03-13 15:42] Akash20x commented on #262
Please check my pull request

[2021-03-14 04:28] kiruba-r11 opened #274 "Sum of Sub matrix for given Q queries"
## 💥 Proposal
This #264 helps to find the sum of all sub matrices in the given matrix, and this concept is used to find the sum of sub matrix for any given bounds. In this problem, Q queries will be given which gives bounds of the sub matrix. We have to find its sum. Brute force takes O(Q * (N ^ 2)) complexity, but using the method 2 in #264, we can optimise it to a complexity of O(N ^ 2) space an

[2021-03-14 04:29] kiruba-r11 commented on #274
@ankitapuri I would like to work in C++ under CrossWoC.

[2021-03-14 06:54] Akash20x commented on #269
I want to solve this problem in python. Please assign me this issue as a part of Cross Woc

[2021-03-14 13:29] abhinav5481 commented on #269
I would like to work on it in Java Script. Please assign it to me.

[2021-03-14 13:34] abhinav5481 opened #275 "Compare the strings by frequency of the smallest character."
## 💥 Proposal

Let the function f(s) be the frequency of the lexicographically smallest character in a non-empty string s. For example, if s = "dcce" then f(s) = 2 because the lexicographically smallest character is 'c', which has a frequency of 2.

You are given an array of strings words and another array of query strings queries. For each query queries[i], count the number of words in words such

[2021-03-14 13:35] abhinav5481 commented on #275
Hi
I would like to work on this as part of crossWoc'21. I can do it in Python. Please assign it to me in Python

[2021-03-16 14:19] abhinav5481 opened #279 "K-diff Pairs in an Array"
## 💥 Proposal

Given an array of integers nums and an integer k, return the number of unique k-diff pairs in the array.
A k-diff pair is an integer pair (nums[i], nums[j]), where the following are true:
0 <= i, j < nums.length
i != j
|nums[i] - nums[j]| == k
Notice that |val| denotes the absolute value of val.

### Have you read the *Contributing Guidelines on Pull Requests* ?
yes

[2021-03-16 14:20] abhinav5481 commented on #279
Hi @ankitapuri
I would like to work on it in python under crossWoc'21. Please assign it to me.

[2021-03-16 14:27] abhinav5481 opened #280 "Longest Palindromic Subsequence"
## 💥 Proposal
Given a string s, find the longest palindromic subsequence's length in s.
A subsequence is a sequence that can be derived from another sequence by deleting some or no elements without changing the order of the remaining elements.

### Have you read the *Contributing Guidelines on Pull Requests* ?
Yes

[2021-03-16 14:27] abhinav5481 commented on #280
Hi @ankitapuri
I would like to solve it in Python. Please assign it to me.

[2021-03-16 14:31] pri1311 opened #281 "Doubly linked list"
**Is your feature request related to a problem? Please describe.**
Implementation of doubly linked list data structures with various operations like insert, delete, etc
----
- A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
----
- A clear and concise description of what you want to happen.

**Describe alternatives y

[2021-03-16 14:31] pri1311 commented on #281
Please assign it to me under crosswoc

[2021-03-16 14:33] pri1311 opened #282 "Binary tree inorder traversal"
**Is your feature request related to a problem? Please describe.**
Question taken from leetcode. https://leetcode.com/problems/binary-tree-inorder-traversal
----
- A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
----
- A clear and concise description of what you want to happen.

**Describe alternatives you've consid

[2021-03-16 14:33] pri1311 commented on #282
please assign this to me under crosswoc

[2021-03-16 14:34] pri1311 opened #283 "Rotate a linked list"
**Is your feature request related to a problem? Please describe.**
Question picked up from leetcode
https://leetcode.com/problems/rotate-list/
Given the head of a linked list, rotate the list to the right by k places.
----
- A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
----
- A clear and concise description of wh

[2021-03-16 14:35] pri1311 commented on #283
Please assign this to me under crosswoc

[2021-03-16 14:36] pri1311 opened #284 "Recursion/ Divide and Conquer- Find peak element"
**Is your feature request related to a problem? Please describe.**
https://leetcode.com/problems/find-peak-element/
A peak element is an element that is strictly greater than its neighbors.

Given an integer array nums, find a peak element, and return its index. If the array contains multiple peaks, return the index to any of the peaks.
Difficulty: medium
----
- A clear and concise description of

[2021-03-16 14:36] pri1311 commented on #284
Please assign this to me under crosswoc for C++

[2021-03-16 14:39] pri1311 opened #285 "Arrays-Sliding window median"
**Is your feature request related to a problem? Please describe.**
https://leetcode.com/problems/sliding-window-median/
Median is the middle value in an ordered integer list. If the size of the list is even, there is no middle value. So the median is the mean of the two middle value.
Difficulty: hard
----
- A clear and concise description of what the problem is. Ex. I'm always frustrated when [...

[2021-03-16 14:39] pri1311 commented on #285
Please assign this to me under crosswoc in C++

[2021-03-16 14:40] pri1311 opened #286 "linked list- swap nodes in pair"
**Is your feature request related to a problem? Please describe.**
https://leetcode.com/problems/swap-nodes-in-pairs/
Given a linked list, swap every two adjacent nodes and return its head.
Difficulty: medium
----
- A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
----
- A clear and concise description of what you wa

[2021-03-16 14:40] pri1311 commented on #286
Please assign this to me under crosswoc for python and C++

[2021-03-17 17:33] vybhav72954 commented on #242
PLease assign this to me. @ankitapuri

[2021-03-20 01:17] yashlikescode commented on #184
You need any change in the above PR?
It was opened 4 days ago.

[2021-03-20 05:00] #247 closed

[2021-03-20 05:22] ankitapuri commented on #282
in which language ?

[2021-03-20 05:41] kiruba-r11 opened #289 "Merge two sorted arrays without using extra space"
## 💥 Proposal
Two sorted arrays would be given and those arrays should be merged without using extra space. For example:
Array - 1 = [0 , 2 , 4 , 6]
Array - 2 = [1 , 3 , 5 , 7 , 9]

Since, extra space should not be used, the result should be store in input array itself like,

Array - 1 = [0 , 1 , 2 , 3]
Array - 2 = [4 , 5 , 6 , 7 , 9]

### Have you read the *Contributing Guidelines on Pull Request

[2021-03-20 05:41] kiruba-r11 commented on #289
@ankitapuri Can i work on this in C++ under CrossWoc

[2021-03-20 06:40] pri1311 commented on #282
c++

[2021-03-20 08:32] Akash20x commented on #285
I want to solve this in python
Please assign me this issue as a part of Cross Woc

[2021-03-20 08:35] pri1311 commented on #285
Can we work on multiple languages at once?

[2021-03-20 08:46] pri1311 commented on #289
Would like to do it in python

[2021-03-20 08:46] pri1311 commented on #279
I would like to do it in c++

[2021-03-20 08:47] pri1311 commented on #231
Can I do it in python?

[2021-03-21 07:54] Akash20x commented on #284
I want to solve this in python

[2021-03-21 08:00] Akash20x commented on #285
Please assign me this issue

[2021-03-21 18:08] abhinav5481 commented on #286
Hi @ankitapuri
I would like to solve it in Java or Python. Please assign it to me in any one of the languages.

[2021-03-21 18:09] abhinav5481 commented on #289
Hi @ankitapuri
I would like to solve it in javascript. Please assign it to me in Java

[2021-03-21 18:09] abhinav5481 commented on #285
Hi @ankitapuri
I would like to solve it in Java or Python or C++. Please assign it to me in any one of the languages

[2021-03-21 18:09] abhinav5481 commented on #284
Hi @ankitapuri
I would like to solve it in Java Script. Please assign it to me in Java

[2021-03-21 18:09] abhinav5481 commented on #283
Hi @ankitapuri
I would like to solve it in Java. Please assign it to me in Java

[2021-03-21 18:10] abhinav5481 commented on #281
Hi @ankitapuri
I would like to solve it in Java. Please assign it to me in Java

[2021-03-21 18:10] abhinav5481 commented on #280
Hi @ankitapuri
Please assign it to me.

[2021-03-21 18:12] abhinav5481 commented on #274
Hi @ankitapuri
I would like to solve it in Python. Please assign it to me in Python

[2021-03-21 18:37] pri1311 commented on #283
Will do it in C++

[2021-03-21 18:38] pri1311 commented on #281
Will do it in C++

[2021-03-21 18:38] pri1311 commented on #286
Will do it in C++

[2021-03-22 16:31] ankitapuri commented on #285
no

[2021-03-22 16:32] ankitapuri commented on #285
You can work on it

[2021-03-22 16:33] ankitapuri commented on #285
@abhinav5481 , u can work in C or JS

[2021-03-22 16:34] ankitapuri commented on #286
Do in python

[2021-03-22 16:34] ankitapuri commented on #286
I can assign u one issue at a time .

[2021-03-22 17:34] abhinav5481 commented on #285
Yes I can work in Js as well

[2021-03-23 10:25] abhinav5481 commented on #285
@ankitapuri
I would like to solve it JS. Please assign it to me.

[2021-03-24 18:26] abhinav5481 commented on #284
Hi @ankitapuri
As we are in the last week of CrossWoc'21. I would request you be a little more active, this would really help the community & the participants as well.

Could you please assign all those commented issues to me?

[2021-03-24 18:27] abhinav5481 commented on #250
Hi @ankitapuri
I would like to solve it in Python. Could you please assign it to me?

[2021-03-24 18:30] abhinav5481 commented on #223
Hi @ankitapuri
I would like to work on it using Java Script. Please assign it to me

[2021-03-24 18:31] abhinav5481 commented on #216
Hi @ankitapuri
I would like to work on this issue using JavaScript. Please assign it to me

[2021-03-24 18:32] abhinav5481 commented on #171
Hi @ankitapuri
Please assign it to me in JS.

[2021-03-24 18:35] abhinav5481 commented on #280
Hi @ankitapuri
Any update?

[2021-03-25 11:37] #216 closed

[2021-03-27 03:15] kiruba-r11 commented on #275
@ankitapuri can I work on this in C++ under CrossWoc

[2021-03-30 14:19] #268 closed

[2021-03-30 14:20] #275 closed

[2021-03-30 14:20] #279 closed

[2021-04-02 06:50] ankitkrishan commented on #283
Please assign this to me
I will do it in Python

[2021-04-04 11:00] rakesh0x7 commented on #269
@ankitapuri can you close this?

[2021-04-04 12:22] ankitapuri commented on #269
Its not required to close

[2021-04-07 06:12] UG-SEP opened #295 "Add a program to count the digits in a number using recursion"
## 💥 Proposal

Hey,
I wanted to add a count the digits program this program tell you about the total number of digits in a number
`Example:`
Case 1:
`Input:` 1435
`Output:` The total number of digits in 1435 is 4
Case 2:
`Input:` -473
`Output:` The total number of digits in -473 is 3
### Have you read the *Contributing Guidelines on Pull Requests* ?
Yes I have readed the contributing.md guidelines

[2021-04-10 17:48] #295 closed

[2021-04-11 07:44] UG-SEP opened #297 "Wanted to add sum of digits using recursion in c"
## 💥 Proposal

Hey,
I wanted to add sum of digits problem using recursion in c language
`Example:`
`Input:` 5434
`Output:` The sum of digits is 16
### Have you read the *Contributing Guidelines on Pull Requests* ?

(Yes I have readed )

Please assign me

[2021-04-12 04:58] rish-singhal commented on #289
I would like to do this in python if possible assign me.

[2021-04-12 11:15] ankitapuri commented on #289
yeah sure

[2021-04-14 12:12] rish-singhal commented on #297
@ankitapuri  I can do the same in python. Assign me if possible.

[2021-04-19 17:01] #289 closed

[2021-05-07 13:44] #297 closed

[2021-07-29 07:39] ASLManasa commented on #289
I would like to do it in java could you please assign me this. Thanks

[2022-09-18 12:35] kushalsng commented on #233
@ankitapuri I would like to work on this in JavaScript

[2022-09-18 12:53] kushalsng commented on #285
Hello @ankitapuri
I would like to work on this in JavaScript